@font-face {
  font-family: Poppins;
  src: url(/Poppins/Poppins-Bold.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  font-size: 18px;
  background-image: url("/gplaypattern.png");
  background-size: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.all {
  min-height: calc(100vh);
}

.navbar {
  background: #24008A;
  padding: .6em .6em 0 .6em;
  font-size: 1em;
}

.navbar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.navbar header img {
  float: left;
  height: 50px;
  margin-right: 20px;
}

.navbar header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar header ul li a {
  display: block;
  margin: 0 4em;
  padding: 0.5em;
  color: white;
}

.waves {
  position: relative;
  top: -10px;
  width: 100%;
}

.waves img {
  width: 100%;
}

.hero {
  color: #181329;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  width: 80%;
}

.hero .text {
  max-width: 20%;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero .text h1 {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  font-size: 2em;
}

.hero .text img {
  width: 70%;
}

.hero .mySlides {
  display: none;
}

.hero .slideshow-container {
  position: relative;
  width: 80%;
  margin-top: 5%;
}

.hero .slideshow-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 15px #aaaaaa;
          box-shadow: 10px 10px 15px #aaaaaa;
  max-width: 100%;
}

.hero .dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #181329;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .active {
  background-color: #3becd8;
}

.hero .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.all {
  min-height: calc(105vh);
}

.footer {
  background-image: url("/footer.png");
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer img {
  float: left;
  width: 90%;
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
}

#jobb {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1350px) {
  .text {
    font-size: .8em;
    min-width: 25%;
  }
  .slideshow-container {
    width: 75%;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    font-size: .8em;
  }
  .navbar img {
    height: 35px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .text {
    min-width: 50%;
    font-size: 1.2em;
  }
  .hero .slideshow-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .navbar header ul li a {
    margin: 0 2em;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer img {
    width: 70%;
    padding-left: 15%;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    font-size: 1em;
  }
  #word {
    display: none;
  }
  .hero .text {
    min-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .navbar header img {
    margin-right: 0.1em;
  }
  .navbar header ul li a {
    margin: 0 1em;
  }
  .hero {
    margin-left: 5%;
    width: 90%;
  }
  .hero .text {
    min-width: 80%;
  }
  .hero .text h1 {
    font-size: 1.5em;
  }
  #jobb {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    font-size: .8em;
  }
  .navbar header img {
    margin-right: 0.1em;
  }
  .navbar header ul li a {
    margin: 0 .5em;
  }
  .hero .text {
    min-width: 90%;
  }
  .hero .text h1 {
    font-size: 1.1em;
  }
  .footer img {
    width: 90%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 350px) {
  .navbar {
    font-size: .7em;
  }
}
/*# sourceMappingURL=indexcss.css.map */